<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidELetter">
        <activity
            android:name=".pop_up_login_guru"
            android:exported="false" />
        <activity
            android:name=".login_guru"
            android:exported="false" />
        <activity
            android:name=".daftar_guru"
            android:exported="false" />
        <activity
            android:name=".ubah_kata_sandi"
            android:exported="false" />
        <activity
            android:name=".verifikasi_otp"
            android:exported="false" />
        <activity
            android:name=".halaman_otp"
            android:exported="false" />
        <activity
            android:name=".halaman_panduan_siswa"
            android:exported="false" />
        <activity
            android:name=".halaman_beranda_siswa"
            android:exported="false" />
        <activity
            android:name=".halaman_masuk_siswa"
            android:exported="false" />
        <activity
            android:name=".halaman_daftar_siswa"
            android:exported="false" />
        <activity
            android:name=".LanjutkanSebagai"
            android:exported="false" />
        <activity
            android:name=".LoadingScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>